/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@import './variable.css';

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
.carousel-inner {
  background: black !important;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 10rem;
  z-index: 10;
  padding: 1.5rem;
  right: 5%;
  left: 35%;
}

.contact-form {
  position: absolute;
  top: 20px;
  width: 100%;
}

.contact-form .form {
  background: #000000bd;
  padding: 20px;
  border-radius: 5px;
  z-index: 100;
}

.contact-form .form .request {
  text-align: center;
  padding: 10px;
  background-color: var(--bs-yellow);
  margin: 20px 35px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  border-radius: 2px;
}

.contact-form .form .title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  line-height: 20px;
  margin: 0 20px;
}

.contact-form .form button {
  background-color: var(--bs-yellow);
  border-color: var(--bs-yellow);
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  object-fit: cover;
  opacity: 0.6;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
/* rtl:end:ignore */

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
