@import './variable.css';

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--gunmetal-2);
}

h1,
h2,
h3,
.h3,
.h4,
.h5 {
  letter-spacing: 0;
}

h1,
h2,
h3,
h4,
h5 {
  word-break: break-word;
}

.link {
  color: var(--ecru);
  text-decoration: none;
}

.link:hover {
  color: var(--gunmetal-2);
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.brand-logo {
  height: 50px;
  width: auto;
}

.card-text-custom {
  display: table;
  height: 100%;
  width: 100%;
  background: #0000003d;
}

.card-text-custom .card-title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 50%;
  height: 50%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed */
  align-items: stretch;
  margin: 20px;
}

.flex-item {
  flex: 0 0 calc(20% - 20px); /* Adjust as needed */
  margin: 10px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.flex-item.active {
  background-color: var(--gunmetal);
  color: var(--ecru);
}
.flex-item .step .title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

.flex-item .step img {
  height: 32px;
  margin-bottom: 15px;
}

.flex-item .step h5 {
  font-size: 14px;
  padding-bottom: 7px;
  border-bottom: 1px solid var(--ecru);
}
.flex-item .step p {
  font-size: 12px;
}

.nav-link {
  margin: 0 20px;
}

.cursor {
  cursor: pointer;
}

.btn-brand {
  background: var(--ecru);
  border-color: var(--ecru);
}

.btn-brand:hover {
  background: var(--field-drab);
  border-color: var(--field-drab);
}

.btn-color {
  background-color: #a77716!important;
  border-color: #a77716 !important;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .flex-item {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .flex-item {
    flex-basis: calc(100% - 20px);
  }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .contact-form {
    position: unset;
  }
  .carousel-caption {
    right: 0%;
    left: 0%;
    text-align: center !important;
  }
}
